app-sign-in {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-background);
}

app-onboarding {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark);
}

app-tab-navigator {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-dashboard,
app-deposits,
app-loans,
app-notification,
app-more {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--main-background);
  border-radius: 12px;
  overflow: hidden;
}
