<img src="/assets/other/01.png" alt="background" class="background" />

<app-header [title]="'Zapomniane hasło'" [showGoBack]="true" />

<main [className]="'scrollabel container main'">
  <p [className]="'t16 main__description'">
    Wprowadź swój email. Otrzymasz <br />
    link do wprowadzenia nowego hasła.
  </p>

  <app-input-field
    [leftIcon]="'/assets/svg/mail.svg'"
    [className]="'main__input-field'"
    [rightIcon]="'/assets/svg/check.svg'"
    [placeholder]="'email@mail.com'"
  ></app-input-field>

  <app-button [text]="'Wyślij'" [routerLink]="'/new-password'"></app-button>
</main>
